<div id="<%= dom_id forecast %>">
  <p>
    <strong>Street:</strong>
    <%= forecast.street %>
  </p>

  <p>
    <strong>Street2:</strong>
    <%= forecast.street2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= forecast.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= forecast.state %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= forecast.postal_code %>
  </p>

  <p>
    <strong>Request date:</strong>
    <%= forecast.request_date %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= forecast.temperature %>
  </p>

</div>
